.container {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: masonry;
    gap: 1em;
    place-items: center;
}

.entry {
    rotate: var(--rotate-entry);
}
