.container {
    position: relative;
}

.detector {
    width: 100vw;
    height: 50vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 0, 0, 0.2);
    z-index: 10;
    pointer-events: none;
}
