.container {
  position: sticky;
  top: 1rem;
  z-index: 3;
  background-color: yellow;
}

@media all and (min-width: 440px) {
  .container {
    min-width: 4rem;
    position: relative;
    top: unset;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
}

.item:hover {
  font-weight: 600;
}
