.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
  position: relative;
  align-items: flex-start;

  max-width: 40rem;
  margin: 0 auto;
}

@media all and (min-width: 440px) {
  .container {
    flex-direction: row;
  }
}
