.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 100vh;
    position: relative;
    align-items: flex-start;

    max-width: 40rem;
    margin: 2rem auto 0;

    &.isFullWidth {
        max-width: 100%;
    }
}

@media all and (min-width: 440px) {
    .siteLogo {
        width: 20%;
    }
}

.siteLogo {
    align-self: center;
    width: 40%;
    margin-bottom: 2rem;
}
