.container {
  --separator-height: 5rem;
}

.imageWrapper {
  margin-bottom: calc(var(--separator-height) + 0.25rem);
  position: relative;
}

.separator {
  position: absolute;
  bottom: calc(var(--separator-height) * -1);
  left: 0;
  right: 0;
  height: var(--separator-height);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.meta {
  margin-bottom: 2rem;
}

.description {
  white-space: pre-wrap;
}

.title {
  margin: 0 0 1rem;
  line-height: 1;
}

.createdAt {
  opacity: 0.6;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.navLink,
.navLinkDisabled {
  display: block;
  width: 3rem;
  height: 3rem;
  background: transparent no-repeat center;
  background-size: contain;
  -webkit-tap-highlight-color: transparent;
}

.navLink:hover {
  transform: scale(1.1);
}
.navLink:active {
  transform: scale(0.9);
}

.navLinkPrev {
  background-image: url("./grid-item/prev.png");
}
.navLinkRandom {
  background-image: url("./grid-item/random.png");
}
.navLinkNext {
  background-image: url("./grid-item/next.png");
}
.navLinkDisabled {
  opacity: 0.3;
}
