.container {
  --separator-height: 5rem;
}

.meta {
  margin-bottom: 2rem;
}

.description {
  white-space: pre-wrap;
}

.title {
  margin: 0 0 1rem;
  line-height: 1;
}

.createdAt {
  opacity: 0.6;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
