.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    gap: 1rem;
}

.editor {
    flex: 1;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
    position: relative;
}

.html {
    background-color: #fff;
    border: 2px dashed #333;
}

.preview {
    font-size: 0.75rem;
    flex: 1;
    background-color: #fff;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    padding: 1rem;
}

.preview pre {
    white-space: pre-wrap;
}

.tools {
    display: flex;
    gap: 1rem;
    position: sticky;
    top: 0;
    background-color: var(--page-bg-color);
    font-weight: bold;
    padding: 0 0 1rem;
}
