.followingOptions {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.followingOptions:last-child {
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.followingOptionItem {
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.followingOptionItem a {
    padding: 0;
    width: 2rem;
    display: block;
    margin-bottom: 0.5rem;
    cursor: url(../components/no-twitter-cursor.png), auto;
}

.followingOptionItem:not(:last-child) {
    margin-right: 2rem;
}

.followingHeader {
    text-align: center;
}

.followingOptionItemFav {
    animation: attention-seeker 3s infinite;
}

@keyframes attention-seeker {
    from {
        transform: scale3d(1, 1, 1);
    }

    10% {
        transform: scale3d(1.25, 0.75, 1);
    }

    13.33% {
        transform: scale3d(0.75, 1.25, 1);
    }

    16.66% {
        transform: scale3d(1.15, 0.85, 1);
    }

    21.66% {
        transform: scale3d(0.95, 1.05, 1);
    }

    25% {
        transform: scale3d(1.05, 0.95, 1);
    }

    30%,
    to {
        transform: scale3d(1, 1, 1);
    }
}
