.image {
    background: url('./loading-placeholder.png');
    background-position: center;
    background-size: cover;
}

.imageLoading {
    animation: loop 0.7s 0s linear infinite alternate;
}

@keyframes loop {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
